body {
    background-color: rgb(18, 18, 18);
    color: white;
}

#head {
    display: block;
    border: 1px solid white;
    margin: 0;
    padding: 0;
}

#head h1 {
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

#head #buttons {
    color: black;
    margin-left: auto;
    margin-right: auto;
}

#posts {
    margin-top: 2%;
    border: 1px solid white;
}

.post {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid white;
}


/* The actual popup */
#popup {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    left: 10%;
    right: 10%;
    width: 80%;
    height: fit-content;
    top: 10%;
    bottom: 10%;
    background-color: rgb(18, 18, 18);
    border: 5px solid white;
    overflow: hidden;
}

#postHead {
    left: 10%;
    border: 1px solid white;
    text-align: center;
}


#postContent {
    margin-top: 1%;
    resize: none;
    width: calc(100% - 30px);
    /* Adjust width considering padding */
    height: calc(100% - 20px);
    /* Adjust height considering padding */
    margin-left: 10px;
    background-color: transparent;
    /* Make background transparent */
    color: white;
    /* Set text color */
}

#pushButton {
    margin: 10px;
    width: calc(100% - 20px);
    padding: 1.5%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

#popup.shown {
    visibility: visible;
}

.postHead {
    font-weight: bold;
}

.likeButton {
    background-image: url('white.svg');
    width: 50px;
    height: 50px;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

.likeButton.liked {
    background-image: url('red.svg');
    color: white;
}